@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'), url('../font/Roboto-Regular.woff2') format('woff2'), url('../font/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'), url('../font/Roboto-Bold.woff2') format('woff2'), url('../font/Roboto-Bold.woff') format('woff');
  font-weight: Bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  /* margin: 0 auto; */
  font-family: "Roboto", sans-serif;
  /* font-weight: 400; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.flex {
  display: flex;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 60px;
  line-height: 60px;
}

h2 {
  font-size: 40px;
  line-height: 1;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
}

 :root {
  --text: #666;
  --text-white: #fff;
  --background-color: #3f2aff;
}

.container {
  /* max-width: 1124px; */
  padding-left: 15px;
  padding-right: 15px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  display: inline-block;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  background-color: var(--background-color);
  color: var(--text-white);
}


/* Header */

.header__content {}

.header {
  background-color: var(--background-color);
}

.header__content {
  position: relative;
}

.row {}

.header__row {
  padding-top: 29px;
  padding-bottom: 25px;
}

.col-xxl-6 {}

.header-logo {}

.header-logo__link {}

.header-logo__img {}

.header-nav {}

.header__nav {}

.header-nav__block {
  padding-left: 13%;
}

.header-nav__list {
  justify-content: space-between;
}

.header-nav__item {}

.header-nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: var(--text-white);
}

.header__burger {
  position: absolute;
  right: 5%;
  display: none;
}


/* .header__mobile {
  display: none;
} */

.mobile-block {
  position: absolute;
  padding: 0;
  top: 0;
  transition: transform .4s ease-in-out, opacity .4s;
  transform: translateX(100%);
  background-color: #2f2c45;
  z-index: 1000;
  opacity: 0;
}

.mobile-block__content {}

.mobile-block.active {
  transform: translateX(0);
  opacity: 1;
}

.mobile-block__close {
  position: absolute;
  top: 6%;
  right: 5%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mobile-block__list {
  padding-top: 25%;
  padding-bottom: 32%;
  padding-left: 5%;
  flex-direction: column;
}

.mobile-block__item:not(:last-child) {
  margin-bottom: 56px;
}

.mobile-block__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: var(--text-white);
}

.body__content {
  overflow: hidden;
  position: relative;
}


/* Hero */

.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.main__hero {}

.container {}

.hero__container {}

.row {}

.hero__row {}

.hero__block {
  padding-top: 12%;
  padding-bottom: 11.5%;
}

.hero__title {
  margin-bottom: 5%;
  color: var(--text-white);
}

.hero__text {
  margin-bottom: 13%;
  font-size: 18px;
  line-height: 29px;
  color: var(--text-white);
}

.hero__button {
  padding: 5% 17%;
  border-radius: 19px;
  font-size: 18px;
  line-height: 21px;
}

.hero__image {
  position: relative;
}

.hero__image::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background-image: url("../img/Group95.png");
  background-repeat: no-repeat;
  background-size: 96%;
  background-position: center;
}


/* About */

.main__about {}

.about__container {}

.about__content {
  padding-top: 7%;
  padding-bottom: 7%;
}

.about__row {}

.about-top {
  margin-bottom: 23px;
}

.about-top__pic {
  position: relative;
}

.about-top__pic::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 2%;
  top: 0;
  background-image: url("../img/Vectarytexture.png");
  background-repeat: no-repeat;
  background-size: 83%;
  background-position: center;
}

.about-top__descr {}

.about-top__title {
  margin-bottom: 20px;
  max-width: 74%;
  color: #2e2b44;
  ;
}

.about-top__text {
  max-width: 94%;
}

.about-bottom {}

.about-bottom__item {
  justify-content: space-between;
  align-items: center;
}

.about-bottom__pic {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-bottom__text {
  display: inline-block;
  width: 70%;
  font-weight: 700;
  line-height: 19px;
}


/* Teachers */

.teachers {
  background-color: #212133;
}

.main__teachers {}

.teachers__container {}

.teachers__content {
  padding-top: 7%;
  padding-bottom: 6%;
}

.teachers__title {
  margin-bottom: 2%;
  color: var(--text-white);
}

.teachers__row {}

.teachers-card {}

.teachers-card__item {}

.teachers-card__picture {}

.teachers-card__img {
  margin-bottom: 10%;
  border-radius: 22px 22px 0 0;
  color: var(--text-white);
}

.teachers-card__name {
  margin-bottom: 4%;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--text-white);
}

.teachers-card__text {
  color: #85859B;
  ;
}


/* Courses  */

.courses__content {
  padding-top: 7%;
  padding-bottom: 4%;
}

.courses__title {
  margin-bottom: 24px;
  color: #212133;
}

.courses-card {}

.courses__row {}

.courses-card__item {}

.courses-card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.courses-card__pic {
  position: relative;
  min-height: 180px;
}

.courses-card__pic_card1::before,
.courses-card__pic_card2::before,
.courses-card__pic_card3::before,
.courses-card__pic_card4::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.courses-card__pic_card1::before {
  background-image: url("../img/card-1-1440.jpg");
}

.courses-card__pic_card2::before {
  background-image: url("../img/card-2-1440.jpg");
}

.courses-card__pic_card3::before {
  background-image: url("../img/card-3-1440.jpg");
}

.courses-card__pic_card4::before {
  background-image: url("../img/card-4-1440.jpg");
}

.courses-card__descr {
  flex: 1;
  margin-bottom: 9%;
  padding: 32px 5% 22% 6%;
  background-color: #edf0f9;
  border-radius: 0 0 20px 20px;
}

.courses-card__pic_card1::after,
.courses-card__pic_card2::after,
.courses-card__pic_card3::after,
.courses-card__pic_card4::after {
  content: "";
  position: absolute;
  width: 18%;
  bottom: 74%;
  left: 82%;
  top: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.courses-card__pic_card1::after {
  background-image: url("../img/60-часов.png");
}

.courses-card__pic_card2::after {
  background-image: url("../img/40-часов.png");
}

.courses-card__pic_card3::after {
  background-image: url("../img/60-часов.png");
}

.courses-card__pic_card4::after {
  background-image: url("../img/80-часов.png");
}

.courses-card__title {
  margin-bottom: 10px;
}

.courses-card__text {}

.courses-card__button {
  position: absolute;
  bottom: 12%;
  padding: 4% 11%;
}


/* Footer */

.footer-social {
  justify-content: center;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #2e2b44;
}

.footer-social__icon {
  width: 24px;
  height: 24px;
}

.footer-social__icon:not(:last-child) {
  margin-right: 30px;
}

.footer-bottom {
  text-align: center;
}

.footer__bottom {}

.footer-bottom__text {
  font-size: 13px;
  line-height: 15px
}

.footer-bottom__mark {
  color: var(--background-color);
}

@media (max-width: 992px) {
  .header-nav__block {
    padding-left: 8%;
  }
  .header-nav__list {
    width: 100%;
  }
  .hero__block {
    padding-top: 18%;
    padding-bottom: 19%;
  }
  .hero__title {
    font-size: 50px;
    line-height: 50px;
  }
  .hero__title {
    margin-bottom: 4%;
  }
  .hero__text {
    margin-bottom: 16%;
    max-width: 90%;
    line-height: 27px;
  }
  .hero__button {
    padding: 6% 19%;
  }
  .hero__image::before {
    width: 109%;
    bottom: 0;
    right: 0;
    top: -37px;
    left: -42px;
    background-image: url("../img/Group95-768.png");
    background-size: 101%;
  }
  .about__content {
    padding-top: 12%;
    padding-bottom: 11%;
  }
  .about-top__pic::before {
    right: 0;
    bottom: -2%;
  }
  .about-top__descr {
    padding-left: 15px;
  }
  .about-top__title {
    margin-bottom: 16px;
    max-width: 95%;
  }
  .about-bottom__item {
    align-self: flex-start;
    flex-wrap: wrap;
  }
  .about-bottom__text {
    width: 100%;
  }
  .about-top__pic::before {
    background-size: 89%;
  }
  .about-top {
    margin-bottom: 26px;
  }
  .about-bottom__pic {
    margin-bottom: 10px;
  }
  .teachers__content {
    padding-top: 10%;
    padding-bottom: 4%;
  }
  .teachers__title {
    margin-bottom: 3.5%;
  }
  .teachers-card__img {
    margin-bottom: 8%;
  }
  .teachers-card__name {
    margin-bottom: 2%;
  }
  .teachers-card__item {
    margin-bottom: 7%;
  }
  .courses-card__pic_card1::before {
    background-image: url("../img/card-1-768.jpg");
  }
  .courses-card__pic_card2::before {
    background-image: url("../img/card-2-768.jpg");
  }
  .courses-card__pic_card3::before {
    background-image: url("../img/card-3-768.jpg");
  }
  .courses-card__pic_card4::before {
    background-image: url("../img/card-4-768.jpg");
  }
  .courses-card__pic_card1::after,
  .courses-card__pic_card2::after,
  .courses-card__pic_card3::after,
  .courses-card__pic_card4::after {
    width: 29%;
    bottom: 74%;
    left: 68%;
  }
  .courses__content {
    padding-top: 11%;
    padding-bottom: 4%;
  }
  .courses-card__descr {
    padding-left: 9%;
    padding-bottom: 43%;
  }
  .courses-card__title {
    margin-bottom: 7px;
  }
  .courses-card__text {
    width: 98%;
  }
  .courses-card__button {
    bottom: 10%;
    padding: 7% 17%;
  }
  .courses-card__button-768 {
    bottom: 13%;
  }
  .footer-social {
    padding-top: 3%;
    padding-bottom: 4%;
  }
}

@media (max-width: 767px) {
  .header__row {
    padding-bottom: 32px;
  }
  .header-logo {
    text-align: center;
  }
  .header-nav__block {
    padding-top: 5%;
    padding-left: 4%;
  }
  .header-nav__list {
    width: 95%;
  }
  .hero__block {
    padding-top: 14%;
    padding-bottom: 25%;
  }
  .hero__text {
    margin-bottom: 16%;
    max-width: 90%;
  }
  .hero__button {
    padding: 7% 20%;
  }
  .hero__image {
    display: none;
  }
  .about__content {
    padding-top: 15%;
    padding-bottom: 11%;
  }
  .about-top__pic::before {
    bottom: 59%;
    background-size: 85%;
  }
  .about-top__text {
    max-width: 100%;
  }
  .teachers__content {
    padding-top: 15%;
    padding-bottom: 10%;
  }
  .teachers__title {
    margin-bottom: 4.5%;
  }
  .teachers-card__img {
    margin-bottom: 11%;
  }
  .teachers-card__item {
    margin-bottom: 10%;
  }
  .courses-card__pic_card1::before {
    background-image: url("../img/card-1-576.jpg");
  }
  .courses-card__pic_card2::before {
    background-image: url("../img/card-2-576.jpg");
  }
  .courses-card__pic_card3::before {
    background-image: url("../img/card-3-576.jpg");
  }
  .courses-card__pic_card4::before {
    background-image: url("../img/card-4-576.jpg");
  }
  .courses-card__pic_card1::after,
  .courses-card__pic_card2::after,
  .courses-card__pic_card3::after,
  .courses-card__pic_card4::after {
    width: 41%;
    bottom: 78%;
    left: 56%;
  }
  .courses__content {
    padding-top: 15%;
    padding-bottom: 14%;
  }
  .courses-card__title {
    margin-bottom: 11px;
    line-height: 23px;
  }
  .courses-card__descr {
    margin-bottom: 11%;
    padding-left: 12%;
    padding-bottom: 42%;
    padding-top: 12%;
  }
  .courses-card__descr-576 {
    padding-top: 13%;
    padding-bottom: 42%;
  }
  .courses-card__text {
    width: 90%;
  }
  .courses-card__text-576 {
    width: 100%;
  }
  .courses-card__button {
    bottom: 9%;
    padding: 9% 21%;
  }
  .courses-card__button-576 {
    bottom: 5%;
  }
  .footer-social {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

@media (max-width: 575px) {
  .header__row {
    padding-top: 32px;
    padding-bottom: 28px;
    align-items: center;
  }
  .header-logo__img {
    width: 55%;
  }
  .header-logo {
    text-align: inherit;
  }
  .header-nav__block {
    padding: 0;
  }
  .header-nav {
    text-align: end;
  }
  .header-nav__burger {
    display: block;
  }
  .hero__title {
    font-size: 30px;
    line-height: 30px;
  }
  .hero__text {
    margin-bottom: 15%;
    font-size: 16px;
    line-height: 21px;
  }
  .header-nav__list {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .hero__block {
    padding-top: 16%;
    padding-bottom: 16%;
  }
  .hero__title {
    margin-bottom: 2%;
  }
  .hero__text {
    max-width: 100%;
    ;
  }
  .hero__button {
    padding: 7% 18%;
    font-size: 16px;
    line-height: 19px;
  }
  .about__content {
    padding-top: 17%;
    padding-bottom: 7%;
  }
  .about-top {
    margin-bottom: 21px;
  }
  .about-top__title {
    margin-bottom: 3px;
    font-size: 20px;
    line-height: 26px;
  }
  .about-bottom__pic {
    margin-bottom: 30px;
  }
  .about-bottom__text {
    padding-bottom: 26px;
    width: 62%;
  }
  .teachers__content {
    padding-top: 16%;
    padding-bottom: 10%;
  }
  .teachers__title {
    margin-bottom: 9.5%;
    font-size: 20px;
  }
  .teachers-card__item {
    margin-bottom: 8%;
  }
  .teachers-card__img {
    margin-bottom: 9%;
  }
  .courses__title {
    margin-bottom: 29px;
    font-size: 20px;
  }
  .courses__content {
    padding-top: 15%;
    padding-bottom: 7%;
  }
  .courses-card__pic_card1::before {
    background-image: url("../img/card-1-320.jpg");
  }
  .courses-card__pic_card2::before {
    background-image: url("../img/card-2-320.jpg");
  }
  .courses-card__pic_card3::before {
    background-image: url("../img/card-3-320.jpg");
  }
  .courses-card__pic_card4::before {
    background-image: url("../img/card-4-320.jpg");
  }
  .courses-card__pic_card1::after,
  .courses-card__pic_card2::after,
  .courses-card__pic_card3::after,
  .courses-card__pic_card4::after {
    width: 36%;
    bottom: 73%;
    left: 63%;
  }
  .courses-card__title {
    width: 80%;
  }
  .courses-card__descr {
    margin-bottom: 10%;
    padding-top: 11%;
    padding-right: 8%;
    padding-bottom: 58%;
    padding-left: 11%;
  }
  .courses-card__descr-320-2 {
    padding-bottom: 75%;
  }
  .courses-card__descr-320-3 {
    padding-bottom: 83%;
  }
  .courses-card__text {
    width: 98%;
  }
  .courses-card__button {
    bottom: 8%;
    padding: 8% 19%;
  }
  .footer-social {
    padding-top: 9%;
    padding-bottom: 9%;
  }
}
